

.main-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #242424;
}

.all-notes-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 1rem;
}

.note-container{
  display: flex;
  width: 20%;
  height: fit-content;
  flex-direction: column;
  border: 1px solid #242424;
  border-radius: 10px;
  gap: 10px;
  padding: 1rem;
  background-color: #242424;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.action-button{
  display: flex;
}

.note-title{
  margin: 0;
}

.note-text{
  margin-top: 0;
  margin-bottom: 0;
}

.not-loggedin-page-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-loggedin-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #242424;
  padding: 1rem;
  width: 28vw;
  height: 25vh;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.not-logged-in-title{
  margin: 0;
}

.not-logged-in-text{
  margin: 0;
}
.login-redirect-handler{
  width: 20%;
  border-radius: 15px;
  padding: 0.75em;
  color: white;
  background-color: #157ae1;
  cursor: pointer;
  border-color: #157ae1;
}

.login-redirect-handler:active{
  background-color: #157;
  border-color: #157;
}

@media (max-width:900px){
  .all-notes-container{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .note-container{
    width: 80%;
  }
}

@media (max-width:1200px){
  .not-loggedin-container{
    width: 60vw;
  }
}
