

.main-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.all-notes-container{
  display: flex;
  gap: 10px;
  margin: 0 1rem;
}

.note-container{
  display: flex;
  width: 20%;
  height: fit-content;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1rem;
}

.action-button{
  display: flex;
}

h3{
  margin-top: 0;
}

p{
  margin-top: 0;
}
